<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie-edge'>
	<title>Mission to Mars</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
	<div class="jumbotron">
	  <h1 class="display-4">Mission to Mars</h1>
	  <hr class="my-4">
	  <p class="jumbowords">Click the button to explore where no man has gone before.</p>
	  <br/>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="../scrape" role="button">Blast Off!</a>
	  </p>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr>
			<h2><b>The Latest Martian News</b></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>{{mars_feed.headline}}</h4>
			<p>{{mars_feed.summary}}</p>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 border">
			<h2>Featured Martian Image</h2>
			<img class="col-md-12 border" src="{{mars_feed.image_url}}" alt="Featured Martian Image">
		</div>

		<div class="col-md-4">
			<div class="card">
				<h2>Martian Facts</h2>
					{{mars_feed.mars_facts_web | safe }}
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-8 offset-4">
			<h2 class="align-items-center">Martian Hemispheres</h2>
		</div>
	</div>
	</br>
	<div class="row">
		{% for dict in mars_feed.hemispheres|batch(2) %}
		<div class="row">
			{% for key in dict %}
			<div class="col-md-6">
				<img class="img-fluid" src={{key.img_url}}>
				<hr>
				<h4>{{key.title}}</h4>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>	

</body>

</html>